* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.Background {
  padding-top: 60px;      
  padding-left: 300px;
  min-height: 100vh;
  margin: 0;
  background-color: #EEFBF2;
}

.Topbar {
  width: 100%; 
  height: 35px; 
  background: #67796A;
  display: flex;
  position: fixed;
  justify-content: right;
  top: 0;
  left: 0;
  z-index: 1000;          
  padding: 0 20px;        
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.Topbar-button {
  background-color: #CAD1CC;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.Topbar-button:hover {
  background-color: #9fa9a2;
}

.Sidebar {
  height: 100%;
  width: 290px;
  background: #8DA190;
  display: flex;
  position: fixed;
  top: 35px;
  left: 0;
  padding: 0 20px;
  padding-top: 10px;
}

.Sidebar-logo {
  width: 250px;
  height: 250px;
  background-color: white;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 1px solid #333;
  font-weight: bold;
}

.Sidebar-buttons {
  padding-top: 300px;
}

.Sidebar-buttons button {
  width: 250px;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #d3dcd7;
  cursor: pointer;
  font-size: 14px;
}

.Sidebar-buttons button:hover {
  background-color: #c4cfc8;
}

/* ***************************************** */

.PersonCard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.PersonCard {
  width: 250px;
  height: 250px; /* Stała wysokość */
  background-color: white;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Imię na dole */
  align-items: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
}

.PersonCard-image {
  width: 200px;
  height: 200px; /* Stała wielkosc obrazu */
  object-fit: cover; /* Przytnij/rozciągnij obrazek */
}

.PersonCard-name {
  font-weight: bold;
}

.PersonCard-placeholder {
  width: 200px;
  height: 200px;
  background-color: #eee;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

/* ***************************************** */

.Profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center
}

.Profile {
  width: 500px;
  height: 500px; /* Stała wysokość */
  background-color: white;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Imię na dole */
  align-items: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
}

.Profile-image {
  width: 400px;
  height: 400px; /* Stała wielkosc obrazu */
  object-fit: cover; /* Przytnij/rozciągnij obrazek */
}

.Profile-name {
  font-weight: bold;
}

.Profile-placeholder {
  width: 400px;
  height: 400px;
  background-color: #eee;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

/* ********************************** */

.Background-login {
  padding-top: 250px;      /* odstęp pod topbarem */
  /* padding-left: 300px; */
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #EEFBF2;
}

.login-topbar {
  width: 100%; 
  height: 220px; 
  background: #67796A;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;          /* nad innymi elementami */
  padding: 0 20px;        /* padding od lewej i prawej */
  box-sizing: border-box;
}

.login-topbar img {
  justify-content: center;
  padding-top: 10px;
  height: 200px;
  width: 200px;
}

h2 {
  color: #333;
  margin: 1rem 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  width: 300px;
  border-color: #333;
  /* border: none; */
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 1rem;
}

.login-button,
.register-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #edd3a8;
  border-radius: 8px;
  cursor: pointer;
  border-color: #333;
}

.login-button:hover,
.register-button:hover {
  background-color: #e0c595;
}


/* *********************************************** */

@media (max-width: 768px) {
  .Sidebar {
    width: 150px;
    padding: 0 10px;
  }

  .Sidebar-logo {
    width: 130px;
    height: 130px;
    font-size: 14px; 
  }

  .Sidebar-buttons {
    padding-top: 150px; 
  }

  .Sidebar-buttons button {
    width: 130px;
    font-size: 12px;
    padding: 8px;
  }

  .Background {
    padding-left: 150px; 
  }
}
